@import "common.css";

table.cogs {
  text-align: center;
}

td.heading:nth-child(1) { width: 6em; }
td.heading:nth-child(2) { width: 10em; }
td.heading:nth-child(3) { width: 11em; }
td.heading:nth-child(5) { width: 4em; }

td.info {
  text-align: left;
  border: none;
  padding-left: 10px; /* td.padding * 2 */
  white-space: nowrap
}

td.data {
  width: 3em;
}

td.hover {
  background-color: Wheat;
  font-weight: bold;
}

td.hover-related {
  background-color: Wheat;
}

td.hover-equal {
  background-color: Beige;
  font-weight: bold;
}

.heading-ratio { background-color: var(--fill-red);    color: white; }

.index-odd  { background-color: var(--fill-purple-darker); color: white; }
.index-even { background-color: var(--fill-purple);        color: white; }
