@import "common.css";

table {
  text-align: center;
}

td.data {
  min-width: 5em;
}

.heading-ratio { background-color: var(--fill-red);    color: white; }

.index-odd  { background-color: var(--fill-purple-darker); color: white; }
.index-even { background-color: var(--fill-purple);        color: white; }
