@import "common.css";

table.gearing, table.power {
  text-align: center;
}
table.gearing td, table.power td {
  width: 5em;
}
table.gearing td:first-child, table.power td:first-child {
  width: 1.5em;
}

span.emoji {
  font-size: 100%;
  text-shadow: 1pt 1pt 0pt black;
}

td.index, td.cadence, td.power, td.force  {
  font-size: 80%;
  padding: 2px;
}

td.cadence, td.power, td.force {
  text-decoration: underline;
}

td.heading-ratio,
td.heading-speed-from-cadence,
td.heading-cadence-from-speed,
td.heading-torque-from-cadence,
td.heading-speed-from-grade {
  position: relative; /* For use with div.dog-ear and div.td-pop-over */
}

table.config {
  display: inline;
  margin-right: 5pt;
  margin-bottom: 10pt;
}

table.config td {
  height: 24pt; /* Large enough to fit all the editable widgets */
}

table.config td.invisible {
  height: auto;
}

div.config {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
}

.heading-ratio               { background-color: var(--fill-red);              color: white;  }
.heading-speed-from-cadence  { background-color: var(--fill-orange);           color: white;  }
.heading-cadence-from-speed  { background-color: var(--fill-green);            color: white;  }
.heading-torque-from-cadence { background-color: var(--fill-blue);             color: white;  }
.heading-speed-from-grade    { background-color: var(--fill-tangerine);        color: white;  }
.heading-index               { background-color: var(--fill-purple);           color: white;  }
.heading-ftp                 { background-color: var(--grad3-blue3);           color: yellow; }
.heading-cadence             { background-color: var(--fill-lavender-darker);  color: white;  }

.heading-ratio a { color: white; }

.index-odd  { background-color: var(--fill-purple-darker); color: white; }
.index-even { background-color: var(--fill-purple);        color: white; }

.ratio-selected   { color: black; }
.ratio-unselected { color: darkgray; }

.grad-pos-low    { background-color: var(--grad1-red);    }
.grad-pos-middle { background-color: var(--grad1-yellow); }
.grad-pos-high   { background-color: var(--grad1-green);  }

.grad-neg-low    { background-color: var(--grad1-green);    }
.grad-neg-middle { background-color: var(--grad1-yellow);   }
.grad-neg-high   { background-color: var(--grad1-red);      }
.grad-neg-dead   { background-color: var(--grad1-cinnamon); }

.grad-burst-low  { background-color: var(--grad2-ruby);    }
.grad-burst-high { background-color: var(--grad2-crimson); }
.grad-burst-dead { background-color: var(--grad2-blood);   }

.grad-cadence-low  { background-color: var(--fill-lavender);        }
.grad-cadence-high { background-color: var(--fill-lavender-darker); }

/* From 56% to 150% of FTP (inclusive) */
.grad-ftp-zone2  { background-color: var(--grad3-blue1); color: black;  }
.grad-ftp-zone3  { background-color: var(--grad3-blue2); color: white;  }
.grad-ftp-zone4  { background-color: var(--grad3-blue3); color: yellow; }
.grad-ftp-zone5  { background-color: var(--grad3-blue4); color: black;  }
.grad-ftp-high   { background-color: var(--grad3-blue5); color: black;  }

